<li id="<%= @user.id %>">
    <span class="game_no">
    	<%= game_detail.gamed_id %>
    </span>
    <span class="score">
		<%= game_detail.earned_points %>
	</span>

</li>

<!-- May be decorator or helper. -->