<ol class="played_games">
	<%= will_paginate @games %>
		<% @games_details.each do |game_detail| %>
			<li>
				<span class="game_name">
					<%= game_detail.game_id %>
				</span>
				<span class="score">
					<%= game_detail.earned_points %>
				</span>
			</li>
		<% end %>
	<%= will_paginate @games %>
</ol>

<!-- May be decorator or helper. -->